@tailwind base;
@tailwind components;
@tailwind utilities;

.agile__dots {
  bottom: 80px;
  flex-direction: column;
  right: 30px;
  position: absolute;
}

.agile__dot {
  margin: 5px 0;
}

.agile__dot button {
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  display: block;
  height: 10px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  transition-duration: 0.3s;
  width: 10px;
}

.agile__dot--current button,
.agile__dot:hover button {
  background-color: #fff;
}

.slide {
  display: block;
  height: 500px;
  object-fit: cover;
  width: 100%;
}

.agile__nav-button {
  background: white;
  padding: 1rem;
  position: relative;
  bottom: 275px;
  border-radius: 2px;
}

.product-card::after {
	content: '';
	clear: both;
	display: block;
}
.product-card img {
  transition: .4s;
}
.product-card:hover img {
  transform: scale(1.05);
  width: 100%;
  height: 100%;
}
